@{ 
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <h1>The World</h1>
        <p>This wil be a fun website soon!</p>
        <form>
            <div>
                <label>Date</label>
                <input type="text" />
            </div>
            <div>
                <label>Location</label>
                <input type="text" />
            </div>
            <div><input type="submit" value="Add" /></div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>The Map</h2>
    </div>
</div>