@model IEnumerable<TheWorld.Models.Trip>
@{ 
    ViewBag.Title = "Home Page";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
}
<div class="row" ng-app="">

    <div>{{ "Two plus two equals: " + (2+2) }}</div>

    <div class="col-md-6">
        <h1>The World</h1>
        <p>This wil be a fun website soon!</p>
        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" type="text" />
            </div>
            <div><input type="submit" value="Add" class="btn btn-success"/></div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>The Map</h2>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Name : @item.DateCreated.ToString("d")</li>
            }
        </ul>
    </div>
</div>